@import './variables';

/* Prevent adjustments of font size when orientation changes  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    background: $prime;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 10px 0px;
    div {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        h1 {
            margin: 0;
            color: white;
            font-family: $font;
        }
        h3 {
            margin: 0;
            color: white;
            font-family: $font;
        }
    }
}

nav {
    width: 100vw;
    height: 50px;
    background: $second;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        width: 25%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-family: $font;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px $prime;
    }
}

.active {
    background: $darken;
}

main {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    h1 {
        width: 95vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: $font;
        margin:0 ;
    }
}

.members {
    width: 95vw;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
}
.mbr {
    margin-top: 20px;
    h3 {
        font-family: $font;
        margin: 0;
        margin-bottom: 5px;
    }
    div {
        width: 100%;
        img {
            float: right;
            margin: 0px 0px 5px 5px;
            clip-path: circle(50%);
            shape-outside: circle(50%);
        }
        p {
            font-family: $font;
            margin: 0;
        }
    }
}
.images {
    width: 100%;
    margin-top: 30px;
    img {
        width: 100%;
        margin-bottom: 10px;
    }
}

footer {
    width: 100vw;
    height: 50px;
    background: $prime;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-family: $font;
        color: white;
    }
}


/*----- Clearfix -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }